new_n8n.json
{"updatedAt": "2026-03-02T14:07:14.576Z", "createdAt": "2026-02-05T22:53:43.633Z", "id": "wH2fuBVndVFsB0mO", "name": "Anti-Gravity Resume Parsing", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"jsCode": "// Extract uploaded file and validate\nconst items = $input.all();\n\n// Get the webhook body\nconst body = items[0].json.body || items[0].json;\nconst headers = items[0].json.headers || {};\n\n// Initialize result\nlet result = {\n  status: 'error',\n  message: '',\n  data: null\n};\n\ntry {\n  // Check if file data exists\n  if (!body.file) {\n    throw new Error('Missing \"file\" field. Please send: {\"file\": \"base64_string\", \"filename\": \"resume.pdf\", \"user_id\": \"user123\"}');\n  }\n\n  // Extract data\n  const fileBase64 = body.file;\n  const filename = body.filename || 'resume.pdf';\n  const userId = body.user_id;\n\n  // Validate user_id\n  if (!userId || userId.trim() === '') {\n    throw new Error('Missing \"user_id\" field. Required in request body.');\n  }\n\n  // Validate filename extension\n  const fileExt = filename.split('.').pop().toLowerCase();\n  const allowedExts = ['pdf', 'docx', 'doc'];\n  \n  if (!allowedExts.includes(fileExt)) {\n    throw new Error(`Invalid file type: .${fileExt}. Allowed: ${allowedExts.join(', ')}`);\n  }\n\n  // Validate base64 format (basic check)\n  if (!fileBase64 || fileBase64.length < 100) {\n    throw new Error('File data too short. Must be valid base64 encoded file.');\n  }\n\n  // Check if it looks like base64\n  const base64Pattern = /^[A-Za-z0-9+/]+=*$/;\n  const sampleCheck = fileBase64.substring(0, 100);\n  if (!base64Pattern.test(sampleCheck)) {\n    throw new Error('File data does not appear to be valid base64 encoding.');\n  }\n\n  // Success - prepare data for next node\n  result = {\n    status: 'success',\n    file_base64: fileBase64,\n    filename: filename,\n    file_extension: fileExt,\n    user_id: userId,\n    timestamp: new Date().toISOString()\n  };\n\n} catch (error) {\n  result.status = 'error';\n  result.message = error.message;\n}\n\nreturn [result];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [192, 1744], "id": "7681eb2d-398c-42f6-8adf-d2f8fc71cccd", "name": "Validate File Input"}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "conditions": [{"id": "72a5841a-a716-4516-8b97-04855fb356ca", "leftValue": "={{ $json.status }}", "rightValue": "success", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [368, 1984], "id": "b119b767-7294-44c9-8042-96149ab0a35f", "name": "check validation"}, {"parameters": {"jsCode": "// Generate unique filename for storage\nconst item = $input.all()[0].json;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 9);\nconst fileExt = item.file_extension;\nconst userId = item.user_id.replace(/[^a-zA-Z0-9]/g, '_'); // Sanitize user_id\n\n// Create unique filename: user_123_1234567890_abc.pdf\nconst uniqueFilename = `${userId}_${timestamp}_${randomStr}.${fileExt}`;\nconst storagePath = `${uniqueFilename}`;\n\nreturn [{\n  json: {\n    ...item,\n    unique_filename: uniqueFilename,\n    storage_path: storagePath\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [576, 1744], "id": "c611ab81-e0a6-404c-b8ad-353943363764", "name": "Generate Unique Filename"}, {"parameters": {"body": "={{ $json.file_base64 }}", "contentType": "raw", "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/octet-stream"}, {"name": "x-upsert", "value": "true"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltYm5xYmNkbWJzdmxvcHV4cm5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMwNzM1NSwiZXhwIjoyMDg1ODgzMzU1fQ.Q_trrQx72q-47DfaD7skhhIJN2XCw6894oEmajUiNv8"}]}, "method": "POST", "options": {}, "sendBody": true, "sendHeaders": true, "url": "=https://ymbnqbcdmbsvlopuxrnk.supabase.co/storage/v1/object/resumes/{{ $json.unique_filename }}"}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [736, 1968], "id": "9b8a2097-50d4-44f8-80dc-395013b66d1c", "name": "HTTP Request2", "maxTries": 3, "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"jsCode": "// Construct the PUBLIC URL for the uploaded file\nconst previousData = $('Generate Unique Filename').item.json;\nconst supabaseUrl = 'https://ymbnqbcdmbsvlopuxrnk.supabase.co';\nconst bucketName = 'resumes';\nconst filename = previousData.unique_filename;\nconst fileUrl = `${supabaseUrl}/storage/v1/object/public/${bucketName}/${filename}`;\n\nreturn [{\n  json: {\n    ...previousData,\n    file_url: fileUrl,\n    upload_status: 'success'\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [944, 1760], "id": "344cbfd2-740a-4bf8-840f-b8fdf10ff437", "name": "construct file url"}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "conditions": [{"id": "f9483100-e7c2-4b26-97ff-ba03dc8c9c32", "leftValue": "={{ $json.extraction_status }}", "rightValue": "success", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1616, 2016], "id": "97f500ac-a424-4689-9b6c-2460467309fd", "name": "If1"}, {"parameters": {"operation": "pdf", "options": {}}, "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1.1, "position": [1312, 1984], "id": "aee2fa91-8356-42cc-b802-b49ff2c4cfb3", "name": "Extract from File"}, {"parameters": {"jsCode": "// Convert base64 string to binary data for Extract from File node\nconst items = $input.all();\nconst item = items[0].json;\n\n// Get the base64 data\nconst base64Data = item.file_base64;\nconst filename = item.unique_filename || 'resume.pdf';\n\n// Convert base64 to buffer\nconst buffer = Buffer.from(base64Data, 'base64');\n\n// IMPORTANT: Return with binary data AND preserve all previous data\nreturn [{\n  json: {\n    ...item,  // Preserve ALL data from previous nodes\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: filename,\n      fileExtension: 'pdf'\n    }\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1184, 1760], "id": "89b56eb1-0841-42a2-b269-15fa2b8da4af", "name": "base64 to binary"}, {"parameters": {"assignments": {"assignments": [{"id": "97c73cbc-fa50-4085-b32a-d64ed71a19ef", "name": "user_id", "type": "string", "value": "={{ $json.user_id }}"}, {"id": "0d493248-3c06-4de2-ba9e-48ebce69fea2", "name": "file_url", "type": "string", "value": "={{ $json.file_url }}"}, {"id": "2f9befbc-25a4-4291-b3c1-a73447c21357", "name": "original_filename", "type": "string", "value": "={{ $json.original_filename }}"}, {"id": "85acb6fe-ca48-4285-85f6-cfc5f7b6e6e4", "name": "status", "type": "string", "value": "={{ $json.status }}"}, {"id": "0740cd6d-98ae-4e9f-9a1c-72facf65fff1", "name": "raw_text", "type": "string", "value": "={{ $json.raw_text }}"}, {"id": "22566e64-133d-4f6e-bb8d-46a71fd72271", "name": "structured_data", "type": "object", "value": "={{ $json.structured_data }}"}, {"id": "e513efc6-2ba2-4e16-bde2-59ae7dbf8699", "name": "error_message", "type": "string", "value": "={{ $json.error_message }}"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1408, 2256], "id": "30eae0ed-bddc-45c4-b574-a40543a797ee", "name": "Edit Fields2"}, {"parameters": {"tableId": "resumes", "fieldsUi": {"fieldValues": [{"fieldId": "user_id", "fieldValue": "={{ $json.user_id }}"}, {"fieldId": "original_filename", "fieldValue": "={{ $json.filename }}"}, {"fieldId": "file_url", "fieldValue": "={{ $json.file_url }}"}, {"fieldId": "status", "fieldValue": "={{ $json.status }}"}, {"fieldId": "raw_text", "fieldValue": "={{ $json.raw_text }}"}, {"fieldId": "structured_data", "fieldValue": "={{ JSON.stringify($json.structured_data) }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1904, 2288], "id": "69925c57-23ca-4a4b-870f-8c13d1567f74", "name": "Create a row1", "credentials": {"supabaseApi": {"id": "vonW0grhOaQP6oMT", "name": "Supabase account"}}}, {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {"responseCode": 200}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2320, 2288], "id": "d3e282cd-91b8-40d9-9d27-700fe05728dc", "name": "Respond to Webhook1"}, {"parameters": {"options": {"responseCode": 400}, "respondWith": "json", "responseBody": "={{ $json }}"}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2384, 2048], "id": "65f0e1b3-a523-4745-914a-6e8fbde5a055", "name": "Respond to Webhook2"}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1", "mode": "list", "cachedResultName": "GPT-4.1"}, "responses": {"values": [{"content": "=You are an expert resume parser. Extract structured data from the resume text below and return ONLY valid JSON with no markdown formatting, no code blocks, and no explanations.\n\nRESUME TEXT:\n{{ $json.raw_text }}\n\nReturn ONLY this JSON structure (fill in the actual data):\n\n{\n  \"personal_info\": {\n    \"full_name\": \"string\",\n    \"email\": \"string or null\",\n    \"phone\": \"string or null\",\n    \"location\": \"string (city, state/country) or null\",\n    \"linkedin\": \"string (URL) or null\",\n    \"portfolio\": \"string (URL) or null\",\n    \"github\": \"string (URL) or null\"\n  },\n  \"professional_summary\": \"string (2-3 sentences summarizing their background) or null\",\n  \"work_experience\": [\n    {\n      \"company\": \"string\",\n      \"title\": \"string\",\n      \"location\": \"string or null\",\n      \"start_date\": \"string (MM/YYYY format)\",\n      \"end_date\": \"string (MM/YYYY or 'Present')\",\n      \"duration\": \"string (e.g., '2 years 3 months')\",\n      \"responsibilities\": [\"string\", \"string\"],\n      \"achievements\": [\"string\"]\n    }\n  ],\n  \"education\": [\n    {\n      \"institution\": \"string\",\n      \"degree\": \"string\",\n      \"field_of_study\": \"string or null\",\n      \"graduation_date\": \"string (MM/YYYY) or null\",\n      \"gpa\": \"string or null\"\n    }\n  ],\n  \"skills\": {\n    \"technical\": [\"string\"],\n    \"soft_skills\": [\"string\"],\n    \"tools\": [\"string\"],\n    \"languages\": [\"string (e.g., 'English - Native')\"]\n  },\n  \"certifications\": [\n    {\n      \"name\": \"string\",\n      \"issuer\": \"string\",\n      \"date\": \"string (MM/YYYY) or null\",\n      \"credential_id\": \"string or null\"\n    }\n  ],\n  \"projects\": [\n    {\n      \"name\": \"string\",\n      \"description\": \"string\",\n      \"technologies\": [\"string\"],\n      \"url\": \"string or null\"\n    }\n  ],\n  \"total_years_experience\": 0\n}\n\nCRITICAL RULES:\n1. Return ONLY the JSON object - no markdown, no ```json```, no explanations\n2. If a field is not found in the resume, use null or empty array []\n3. Extract ALL skills mentioned (technical, tools, soft skills)\n4. Calculate total_years_experience from work history\n5. Dates must be in MM/YYYY format (e.g., \"06/2020\")\n6. Be thorough - extract as much information as possible\n7. For responsibilities and achievements, create separate bullet points\n8. If email/phone not found, use null\n9. The JSON must be valid and parseable"}]}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [608, 2384], "id": "f3a64e31-662c-46fe-9f13-866240b7a503", "name": "Message a model1", "credentials": {"openAiApi": {"id": "y2SUFAAMObVo5IgV", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "// Format error response\nconst items = $input.all();\nconst item = items[0]?.json || {};\n\nlet errorMessage = 'An error occurred processing your resume';\nlet errorDetails = null;\n\n// Try to get specific error\nif (item.message) {\n  errorMessage = item.message;\n}\n\nif (item.extraction_error) {\n  errorMessage = item.extraction_error;\n  errorDetails = 'Text extraction from PDF failed';\n}\n\nif (item.error_message) {\n  errorDetails = item.error_message;\n}\n\nconst response = {\n  success: false,\n  error: errorMessage,\n  details: errorDetails,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2128, 2048], "id": "0d9250ac-191b-4f47-a801-5100c10f962d", "name": "error node"}, {"parameters": {"jsCode": "// Truncate text to stay within GPT-4.1 token budget\n// ~4 chars/token, keeping 24K chars \u00e2\u2030\u02c6 6K tokens \u00e2\u20ac\u201d safe with system prompt\nconst MAX_CHARS = 24000;\nconst item = $input.all()[0].json;\n\nconst rawText = item.raw_text || '';\nconst wasTruncated = rawText.length > MAX_CHARS;\n\nreturn [{\n  json: {\n    ...item,\n    raw_text: wasTruncated ? rawText.substring(0, MAX_CHARS) : rawText,\n    was_truncated: wasTruncated,\n    original_length: rawText.length\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 1936], "id": "77ed6a49-8b34-4546-bd9a-0c3e27c0ac5d", "name": "data check before AI"}, {"parameters": {"jsCode": "// Process text from N8N's Extract from File node\nconst items = $input.all();\nconst item = items[0].json;\n\nlet extractedText = '';\nlet extractionStatus = 'success';\nlet errorMsg = null;\n\ntry {\n  // Extract from File returns text in 'text' field\n  if (item.text && typeof item.text === 'string') {\n    extractedText = item.text;\n  } else if (item.data && typeof item.data === 'string') {\n    extractedText = item.data;\n  } else if (typeof item === 'string') {\n    extractedText = item;\n  } else {\n    throw new Error('Could not find extracted text');\n  }\n\n  // Validate length\n  const trimmedText = extractedText.trim();\n  if (trimmedText.length < 50) {\n    extractionStatus = 'error';\n    errorMsg = `Extracted text too short (${trimmedText.length} chars). File may be empty or corrupted.`;\n  }\n\n  console.log('Text extracted successfully. Length:', extractedText.length);\n\n} catch (error) {\n  extractionStatus = 'error';\n  errorMsg = `Error processing extraction: ${error.message}`;\n  extractedText = '';\n  console.error('Processing error:', error);\n}\n\n// IMPORTANT: Preserve ALL previous data\nreturn [{\n  json: {\n    ...item,  // Keep everything from before\n    raw_text: extractedText.trim(),\n    extraction_status: extractionStatus,\n    extraction_error: errorMsg,\n    text_length: extractedText.length\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1616, 1760], "id": "ab8aabea-f839-4e66-9dc2-643e41077c57", "name": "text process from n8n"}, {"parameters": {"jsCode": "// Parse OpenAI's response and prepare for database\nconst items = $input.all();\nconst aiItem = items[0].json;\n\n// Get input data that was passed through\nlet inputData = aiItem;\n\nlet parsedData = null;\nlet parseStatus = 'success';\nlet errorMsg = null;\n\ntry {\n  // Get the AI response - N8N OpenAI node format\n  let aiResponse = '';\n  \n  // Format: output[0].content[0].text\n  if (aiItem.output && Array.isArray(aiItem.output) && aiItem.output[0]) {\n    const outputItem = aiItem.output[0];\n    if (outputItem.content && Array.isArray(outputItem.content) && outputItem.content[0]) {\n      aiResponse = outputItem.content[0].text;\n    }\n  }\n  \n  // Fallback formats\n  if (!aiResponse && aiItem.choices && aiItem.choices[0] && aiItem.choices[0].message) {\n    aiResponse = aiItem.choices[0].message.content;\n  } else if (!aiResponse && aiItem.message && aiItem.message.content) {\n    aiResponse = aiItem.message.content;\n  } else if (!aiResponse && aiItem.content) {\n    aiResponse = aiItem.content;\n  } else if (!aiResponse && aiItem.text) {\n    aiResponse = aiItem.text;\n  }\n\n  if (!aiResponse) {\n    throw new Error('Could not find AI response in expected format');\n  }\n\n  console.log('Raw AI response length:', aiResponse.length);\n\n  // Clean up response - remove markdown code blocks\n  aiResponse = aiResponse.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\n  // Find JSON if wrapped in text\n  const jsonStart = aiResponse.indexOf('{');\n  const jsonEnd = aiResponse.lastIndexOf('}') + 1;\n  \n  if (jsonStart >= 0 && jsonEnd > jsonStart) {\n    aiResponse = aiResponse.substring(jsonStart, jsonEnd);\n  }\n\n  // Parse JSON\n  parsedData = JSON.parse(aiResponse);\n\n  // Validate required fields\n  if (!parsedData.personal_info || !parsedData.personal_info.full_name) {\n    throw new Error('Missing required field: personal_info.full_name');\n  }\n\n  // Ensure all expected fields exist\n  parsedData = {\n    personal_info: parsedData.personal_info || {},\n    professional_summary: parsedData.professional_summary || null,\n    work_experience: parsedData.work_experience || [],\n    education: parsedData.education || [],\n    skills: parsedData.skills || { technical: [], soft_skills: [], tools: [], languages: [] },\n    certifications: parsedData.certifications || [],\n    projects: parsedData.projects || [],\n    total_years_experience: parsedData.total_years_experience || 0\n  };\n\n  console.log('AI parsing successful');\n\n} catch (error) {\n  parseStatus = 'error';\n  errorMsg = `Failed to parse AI response: ${error.message}`;\n  console.error('Parse error:', error);\n  console.error('AI Item structure:', JSON.stringify(aiItem).substring(0, 200));\n}\n\n// Extract metadata from inputData\nconst user_id = inputData.user_id || 'unknown';\nconst filename = inputData.filename || inputData.original_filename || 'unnamed_file';\nconst file_url = inputData.file_url || '';\nconst raw_text = inputData.raw_text || '';\n\nconsole.log('=== DATA CHECK ===');\nconsole.log('user_id:', user_id);\nconsole.log('filename:', filename);\nconsole.log('file_url length:', file_url.length);\nconsole.log('raw_text length:', raw_text.length);\n\nreturn [{\n  json: {\n    user_id: user_id,\n    original_filename: filename,\n    file_url: file_url,\n    raw_text: raw_text,\n    structured_data: parsedData,\n    status: parseStatus === 'success' ? 'ready' : 'error',\n    error_message: errorMsg,\n    created_at: new Date().toISOString()\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 2304], "id": "33821242-8fb7-4fbc-a24b-28ca4c7c55ad", "name": "ai response to database preparation"}, {"parameters": {"jsCode": "// Clean data before inserting to Supabase\n  // Remove null bytes and other problematic characters\n\n  function cleanText(text) {\n    if (typeof text !== 'string') return text;\n\n    // Remove null bytes and other control characters\n    return text\n      .replace(/\\u0000/g, '') // Remove null bytes\n      .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '') // Remove other control chars\n      .trim();\n  }\n\n  function cleanObject(obj) {\n    if (typeof obj !== 'object' || obj === null) {\n      return cleanText(obj);\n    }\n\n    if (Array.isArray(obj)) {\n      return obj.map(item => cleanObject(item));\n    }\n\n    const cleaned = {};\n    for (const [key, value] of Object.entries(obj)) {\n      if (typeof value === 'string') {\n        cleaned[key] = cleanText(value);\n      } else if (typeof value === 'object' && value !== null) {\n        cleaned[key] = cleanObject(value);\n      } else {\n        cleaned[key] = value;\n      }\n    }\n    return cleaned;\n  }\n\n  // Get the input data\n  const items = $input.all();\n\n  // Clean all items\n  const cleanedItems = items.map(item => ({\n    json: cleanObject(item.json),\n    binary: item.binary\n  }));\n\n  return cleanedItems;"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1616, 2256], "id": "ff36e495-ef7d-4871-aaea-3415727f36bb", "name": "clean data node"}, {"parameters": {"jsCode": "// Get the input item\n  const item = $input.all()[0].json;                                                                                                    \n  // Parse structured_data if it's a string                                                                                          \n  let structuredData;\n  try {\n    structuredData = item.structured_data;\n    if (typeof structuredData === 'string') {\n      structuredData = JSON.parse(structuredData);\n    }\n  } catch (error) {\n    structuredData = {};\n  }\n\n  // Safely get arrays or default to empty\n  const workExperience = structuredData?.work_experience || [];\n  const education = structuredData?.education || [];\n  const projects = structuredData?.projects || [];\n  const certifications = structuredData?.certifications || [];\n  const skills = structuredData?.skills || {};\n\n  const response = {\n    success: true,\n    message: 'Resume uploaded and parsed successfully',\n    data: {\n      resume_id: item.id,\n      user_id: item.user_id,\n      filename: item.original_filename,\n      status: item.status,\n      parsed_preview: {\n        name: structuredData?.personal_info?.full_name || 'Not found',\n        email: structuredData?.personal_info?.email || 'Not found',\n        phone: structuredData?.personal_info?.phone || 'Not found',\n        location: structuredData?.personal_info?.location || 'Not found',\n        summary: structuredData?.professional_summary || '',\n        work_history: workExperience.map(exp => ({\n          position: exp.title || exp.position || '',\n          company: exp.company || '',\n          location: exp.location || '',\n          start_date: exp.start_date || '',\n          end_date: exp.end_date || '',\n          description: Array.isArray(exp.responsibilities) ? exp.responsibilities.join('\\n') : (exp.description || '')\n        })),\n        education: education.map(edu => ({\n          institution: edu.institution || '',\n          degree: edu.degree || '',\n          field: edu.field_of_study || '',\n          graduation_date: edu.graduation_date || ''\n        })),\n        technical_skills: [\n          ...(skills.technical || []),\n          ...(skills.tools || []),\n          ...(skills.soft_skills || [])\n        ],\n        projects: projects.map(proj => ({\n          name: proj.name || proj.title || '',\n          description: proj.description || '',\n          technologies: proj.technologies || proj.tech_stack || [],\n          link: proj.link || proj.url || ''\n        })),\n        certifications: certifications.map(cert => ({\n          name: cert.name || cert.title || cert.certification_name || '',\n          issuer: cert.issuer || cert.organization || '',\n          date: cert.date || cert.issue_date || cert.completed_date || '',\n          url: cert.url || cert.credential_url || ''\n        })),\n        total_experience_years: structuredData?.total_years_experience || 0,\n        technical_skills_count: (skills.technical || []).length,\n        work_history_count: workExperience.length,\n        education_count: education.length,\n        certifications_count: certifications.length\n      },\n      file_url: item.file_url,\n      created_at: item.created_at\n    }\n  };\n\n  return [{ json: response }];\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2112, 2288], "id": "66c4aa21-ba02-4088-a71b-264232fe8e97", "name": "structured data"}, {"id": "wh-parse-resume-v2-2026", "name": "Resume Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [-20, 1744], "parameters": {"httpMethod": "POST", "options": {}, "path": "anti-gravity/parse-resume-v3", "responseMode": "responseNode"}, "onError": "continueRegularOutput"}], "connections": {"Validate File Input": {"main": [[{"node": "check validation", "type": "main", "index": 0}]]}, "check validation": {"main": [[{"node": "Generate Unique Filename", "type": "main", "index": 0}], [{"node": "error node", "type": "main", "index": 0}]]}, "Generate Unique Filename": {"main": [[{"node": "HTTP Request2", "type": "main", "index": 0}]]}, "HTTP Request2": {"main": [[{"node": "construct file url", "type": "main", "index": 0}]]}, "construct file url": {"main": [[{"node": "base64 to binary", "type": "main", "index": 0}]]}, "If1": {"main": [[{"node": "data check before AI", "type": "main", "index": 0}], [{"node": "error node", "type": "main", "index": 0}]]}, "Extract from File": {"main": [[{"node": "text process from n8n", "type": "main", "index": 0}]]}, "base64 to binary": {"main": [[{"node": "Extract from File", "type": "main", "index": 0}]]}, "Edit Fields2": {"main": [[{"node": "clean data node", "type": "main", "index": 0}]]}, "Create a row1": {"main": [[{"node": "structured data", "type": "main", "index": 0}]]}, "Message a model1": {"main": [[{"node": "ai response to database preparation", "type": "main", "index": 0}]]}, "error node": {"main": [[{"node": "Respond to Webhook2", "type": "main", "index": 0}]]}, "data check before AI": {"main": [[{"node": "Message a model1", "type": "main", "index": 0}]]}, "text process from n8n": {"main": [[{"node": "If1", "type": "main", "index": 0}]]}, "ai response to database preparation": {"main": [[{"node": "Edit Fields2", "type": "main", "index": 0}]]}, "clean data node": {"main": [[{"node": "Create a row1", "type": "main", "index": 0}]]}, "structured data": {"main": [[{"node": "Respond to Webhook1", "type": "main", "index": 0}]]}, "Resume Webhook": {"main": [[{"node": "Validate File Input", "type": "main", "index": 0}]]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "availableInMCP": false, "executionOrder": "v1"}, "staticData": null, "meta": null, "pinData": {}, "versionId": "a88e6f28-6754-4f73-969d-c6a97dbc486e", "activeVersionId": "a88e6f28-6754-4f73-969d-c6a97dbc486e", "versionCounter": 154, "triggerCount": 1, "shared": [{"updatedAt": "2026-02-05T22:53:43.688Z", "createdAt": "2026-02-05T22:53:43.688Z", "role": "workflow:owner", "workflowId": "wH2fuBVndVFsB0mO", "projectId": "Cpy9Cpu8WofBiyJW", "project": {"updatedAt": "2026-01-11T17:09:49.461Z", "createdAt": "2026-01-11T17:08:43.491Z", "id": "Cpy9Cpu8WofBiyJW", "name": "vamsi chowdarybabay@gmail.com <chowdarybabay@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "5cca1dd4-57e1-4b2b-85cd-7d95a6fd1a46", "projectRelations": [{"updatedAt": "2026-01-11T17:08:43.492Z", "createdAt": "2026-01-11T17:08:43.492Z", "userId": "5cca1dd4-57e1-4b2b-85cd-7d95a6fd1a46", "projectId": "Cpy9Cpu8WofBiyJW", "user": {"updatedAt": "2026-03-16T06:15:21.000Z", "createdAt": "2026-01-11T17:08:42.812Z", "id": "5cca1dd4-57e1-4b2b-85cd-7d95a6fd1a46", "email": "chowdarybabay@gmail.com", "firstName": "vamsi", "lastName": "chowdarybabay@gmail.com", "personalizationAnswers": {"version": "v4", "personalization_survey_submitted_at": "2026-01-11T17:09:58.078Z", "personalization_survey_n8n_version": "2.2.6", "companyType": "personal"}, "settings": {"userActivated": true, "easyAIWorkflowOnboarded": true, "firstSuccessfulWorkflowId": "jQ6BfzioRDqqSy4N", "userActivatedAt": 1768349311374, "npsSurvey": {"responded": true, "lastShownAt": 1770211602787}}, "disabled": false, "mfaEnabled": false, "lastActiveAt": "2026-03-16", "isPending": false}}]}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-16T06:23:00.000Z", "createdAt": "2026-03-02T14:07:14.579Z", "versionId": "a88e6f28-6754-4f73-969d-c6a97dbc486e", "workflowId": "wH2fuBVndVFsB0mO", "nodes": [{"parameters": {"jsCode": "// Extract uploaded file and validate\nconst items = $input.all();\n\n// Get the webhook body\nconst body = items[0].json.body || items[0].json;\nconst headers = items[0].json.headers || {};\n\n// Initialize result\nlet result = {\n  status: 'error',\n  message: '',\n  data: null\n};\n\ntry {\n  // Check if file data exists\n  if (!body.file) {\n    throw new Error('Missing \"file\" field. Please send: {\"file\": \"base64_string\", \"filename\": \"resume.pdf\", \"user_id\": \"user123\"}');\n  }\n\n  // Extract data\n  const fileBase64 = body.file;\n  const filename = body.filename || 'resume.pdf';\n  const userId = body.user_id;\n\n  // Validate user_id\n  if (!userId || userId.trim() === '') {\n    throw new Error('Missing \"user_id\" field. Required in request body.');\n  }\n\n  // Validate filename extension\n  const fileExt = filename.split('.').pop().toLowerCase();\n  const allowedExts = ['pdf', 'docx', 'doc'];\n  \n  if (!allowedExts.includes(fileExt)) {\n    throw new Error(`Invalid file type: .${fileExt}. Allowed: ${allowedExts.join(', ')}`);\n  }\n\n  // Validate base64 format (basic check)\n  if (!fileBase64 || fileBase64.length < 100) {\n    throw new Error('File data too short. Must be valid base64 encoded file.');\n  }\n\n  // Check if it looks like base64\n  const base64Pattern = /^[A-Za-z0-9+/]+=*$/;\n  const sampleCheck = fileBase64.substring(0, 100);\n  if (!base64Pattern.test(sampleCheck)) {\n    throw new Error('File data does not appear to be valid base64 encoding.');\n  }\n\n  // Success - prepare data for next node\n  result = {\n    status: 'success',\n    file_base64: fileBase64,\n    filename: filename,\n    file_extension: fileExt,\n    user_id: userId,\n    timestamp: new Date().toISOString()\n  };\n\n} catch (error) {\n  result.status = 'error';\n  result.message = error.message;\n}\n\nreturn [result];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [192, 1744], "id": "7681eb2d-398c-42f6-8adf-d2f8fc71cccd", "name": "Validate File Input"}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "conditions": [{"id": "72a5841a-a716-4516-8b97-04855fb356ca", "leftValue": "={{ $json.status }}", "rightValue": "success", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [368, 1984], "id": "b119b767-7294-44c9-8042-96149ab0a35f", "name": "check validation"}, {"parameters": {"jsCode": "// Generate unique filename for storage\nconst item = $input.all()[0].json;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 9);\nconst fileExt = item.file_extension;\nconst userId = item.user_id.replace(/[^a-zA-Z0-9]/g, '_'); // Sanitize user_id\n\n// Create unique filename: user_123_1234567890_abc.pdf\nconst uniqueFilename = `${userId}_${timestamp}_${randomStr}.${fileExt}`;\nconst storagePath = `${uniqueFilename}`;\n\nreturn [{\n  json: {\n    ...item,\n    unique_filename: uniqueFilename,\n    storage_path: storagePath\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [576, 1744], "id": "c611ab81-e0a6-404c-b8ad-353943363764", "name": "Generate Unique Filename"}, {"parameters": {"body": "={{ $json.file_base64 }}", "contentType": "raw", "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/octet-stream"}, {"name": "x-upsert", "value": "true"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltYm5xYmNkbWJzdmxvcHV4cm5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDMwNzM1NSwiZXhwIjoyMDg1ODgzMzU1fQ.Q_trrQx72q-47DfaD7skhhIJN2XCw6894oEmajUiNv8"}]}, "method": "POST", "options": {}, "sendBody": true, "sendHeaders": true, "url": "=https://ymbnqbcdmbsvlopuxrnk.supabase.co/storage/v1/object/resumes/{{ $json.unique_filename }}"}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [736, 1968], "id": "9b8a2097-50d4-44f8-80dc-395013b66d1c", "name": "HTTP Request2", "maxTries": 3, "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"jsCode": "// Construct the PUBLIC URL for the uploaded file\nconst previousData = $('Generate Unique Filename').item.json;\nconst supabaseUrl = 'https://ymbnqbcdmbsvlopuxrnk.supabase.co';\nconst bucketName = 'resumes';\nconst filename = previousData.unique_filename;\nconst fileUrl = `${supabaseUrl}/storage/v1/object/public/${bucketName}/${filename}`;\n\nreturn [{\n  json: {\n    ...previousData,\n    file_url: fileUrl,\n    upload_status: 'success'\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [944, 1760], "id": "344cbfd2-740a-4bf8-840f-b8fdf10ff437", "name": "construct file url"}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "conditions": [{"id": "f9483100-e7c2-4b26-97ff-ba03dc8c9c32", "leftValue": "={{ $json.extraction_status }}", "rightValue": "success", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1616, 2016], "id": "97f500ac-a424-4689-9b6c-2460467309fd", "name": "If1"}, {"parameters": {"operation": "pdf", "options": {}}, "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1.1, "position": [1312, 1984], "id": "aee2fa91-8356-42cc-b802-b49ff2c4cfb3", "name": "Extract from File"}, {"parameters": {"jsCode": "// Convert base64 string to binary data for Extract from File node\nconst items = $input.all();\nconst item = items[0].json;\n\n// Get the base64 data\nconst base64Data = item.file_base64;\nconst filename = item.unique_filename || 'resume.pdf';\n\n// Convert base64 to buffer\nconst buffer = Buffer.from(base64Data, 'base64');\n\n// IMPORTANT: Return with binary data AND preserve all previous data\nreturn [{\n  json: {\n    ...item,  // Preserve ALL data from previous nodes\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: filename,\n      fileExtension: 'pdf'\n    }\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1184, 1760], "id": "89b56eb1-0841-42a2-b269-15fa2b8da4af", "name": "base64 to binary"}, {"parameters": {"assignments": {"assignments": [{"id": "97c73cbc-fa50-4085-b32a-d64ed71a19ef", "name": "user_id", "type": "string", "value": "={{ $json.user_id }}"}, {"id": "0d493248-3c06-4de2-ba9e-48ebce69fea2", "name": "file_url", "type": "string", "value": "={{ $json.file_url }}"}, {"id": "2f9befbc-25a4-4291-b3c1-a73447c21357", "name": "original_filename", "type": "string", "value": "={{ $json.original_filename }}"}, {"id": "85acb6fe-ca48-4285-85f6-cfc5f7b6e6e4", "name": "status", "type": "string", "value": "={{ $json.status }}"}, {"id": "0740cd6d-98ae-4e9f-9a1c-72facf65fff1", "name": "raw_text", "type": "string", "value": "={{ $json.raw_text }}"}, {"id": "22566e64-133d-4f6e-bb8d-46a71fd72271", "name": "structured_data", "type": "object", "value": "={{ $json.structured_data }}"}, {"id": "e513efc6-2ba2-4e16-bde2-59ae7dbf8699", "name": "error_message", "type": "string", "value": "={{ $json.error_message }}"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1408, 2256], "id": "30eae0ed-bddc-45c4-b574-a40543a797ee", "name": "Edit Fields2"}, {"parameters": {"tableId": "resumes", "fieldsUi": {"fieldValues": [{"fieldId": "user_id", "fieldValue": "={{ $json.user_id }}"}, {"fieldId": "original_filename", "fieldValue": "={{ $json.filename }}"}, {"fieldId": "file_url", "fieldValue": "={{ $json.file_url }}"}, {"fieldId": "status", "fieldValue": "={{ $json.status }}"}, {"fieldId": "raw_text", "fieldValue": "={{ $json.raw_text }}"}, {"fieldId": "structured_data", "fieldValue": "={{ JSON.stringify($json.structured_data) }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1904, 2288], "id": "69925c57-23ca-4a4b-870f-8c13d1567f74", "name": "Create a row1", "credentials": {"supabaseApi": {"id": "vonW0grhOaQP6oMT", "name": "Supabase account"}}}, {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {"responseCode": 200}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2320, 2288], "id": "d3e282cd-91b8-40d9-9d27-700fe05728dc", "name": "Respond to Webhook1"}, {"parameters": {"options": {"responseCode": 400}, "respondWith": "json", "responseBody": "={{ $json }}"}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2384, 2048], "id": "65f0e1b3-a523-4745-914a-6e8fbde5a055", "name": "Respond to Webhook2"}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1", "mode": "list", "cachedResultName": "GPT-4.1"}, "responses": {"values": [{"content": "=You are an expert resume parser. Extract structured data from the resume text below and return ONLY valid JSON with no markdown formatting, no code blocks, and no explanations.\n\nRESUME TEXT:\n{{ $json.raw_text }}\n\nReturn ONLY this JSON structure (fill in the actual data):\n\n{\n  \"personal_info\": {\n    \"full_name\": \"string\",\n    \"email\": \"string or null\",\n    \"phone\": \"string or null\",\n    \"location\": \"string (city, state/country) or null\",\n    \"linkedin\": \"string (URL) or null\",\n    \"portfolio\": \"string (URL) or null\",\n    \"github\": \"string (URL) or null\"\n  },\n  \"professional_summary\": \"string (2-3 sentences summarizing their background) or null\",\n  \"work_experience\": [\n    {\n      \"company\": \"string\",\n      \"title\": \"string\",\n      \"location\": \"string or null\",\n      \"start_date\": \"string (MM/YYYY format)\",\n      \"end_date\": \"string (MM/YYYY or 'Present')\",\n      \"duration\": \"string (e.g., '2 years 3 months')\",\n      \"responsibilities\": [\"string\", \"string\"],\n      \"achievements\": [\"string\"]\n    }\n  ],\n  \"education\": [\n    {\n      \"institution\": \"string\",\n      \"degree\": \"string\",\n      \"field_of_study\": \"string or null\",\n      \"graduation_date\": \"string (MM/YYYY) or null\",\n      \"gpa\": \"string or null\"\n    }\n  ],\n  \"skills\": {\n    \"technical\": [\"string\"],\n    \"soft_skills\": [\"string\"],\n    \"tools\": [\"string\"],\n    \"languages\": [\"string (e.g., 'English - Native')\"]\n  },\n  \"certifications\": [\n    {\n      \"name\": \"string\",\n      \"issuer\": \"string\",\n      \"date\": \"string (MM/YYYY) or null\",\n      \"credential_id\": \"string or null\"\n    }\n  ],\n  \"projects\": [\n    {\n      \"name\": \"string\",\n      \"description\": \"string\",\n      \"technologies\": [\"string\"],\n      \"url\": \"string or null\"\n    }\n  ],\n  \"total_years_experience\": 0\n}\n\nCRITICAL RULES:\n1. Return ONLY the JSON object - no markdown, no ```json```, no explanations\n2. If a field is not found in the resume, use null or empty array []\n3. Extract ALL skills mentioned (technical, tools, soft skills)\n4. Calculate total_years_experience from work history\n5. Dates must be in MM/YYYY format (e.g., \"06/2020\")\n6. Be thorough - extract as much information as possible\n7. For responsibilities and achievements, create separate bullet points\n8. If email/phone not found, use null\n9. The JSON must be valid and parseable"}]}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [608, 2384], "id": "f3a64e31-662c-46fe-9f13-866240b7a503", "name": "Message a model1", "credentials": {"openAiApi": {"id": "y2SUFAAMObVo5IgV", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "// Format error response\nconst items = $input.all();\nconst item = items[0]?.json || {};\n\nlet errorMessage = 'An error occurred processing your resume';\nlet errorDetails = null;\n\n// Try to get specific error\nif (item.message) {\n  errorMessage = item.message;\n}\n\nif (item.extraction_error) {\n  errorMessage = item.extraction_error;\n  errorDetails = 'Text extraction from PDF failed';\n}\n\nif (item.error_message) {\n  errorDetails = item.error_message;\n}\n\nconst response = {\n  success: false,\n  error: errorMessage,\n  details: errorDetails,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2128, 2048], "id": "0d9250ac-191b-4f47-a801-5100c10f962d", "name": "error node"}, {"parameters": {"jsCode": "// Truncate text to stay within GPT-4.1 token budget\n// ~4 chars/token, keeping 24K chars \u00e2\u2030\u02c6 6K tokens \u00e2\u20ac\u201d safe with system prompt\nconst MAX_CHARS = 24000;\nconst item = $input.all()[0].json;\n\nconst rawText = item.raw_text || '';\nconst wasTruncated = rawText.length > MAX_CHARS;\n\nreturn [{\n  json: {\n    ...item,\n    raw_text: wasTruncated ? rawText.substring(0, MAX_CHARS) : rawText,\n    was_truncated: wasTruncated,\n    original_length: rawText.length\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 1936], "id": "77ed6a49-8b34-4546-bd9a-0c3e27c0ac5d", "name": "data check before AI"}, {"parameters": {"jsCode": "// Process text from N8N's Extract from File node\nconst items = $input.all();\nconst item = items[0].json;\n\nlet extractedText = '';\nlet extractionStatus = 'success';\nlet errorMsg = null;\n\ntry {\n  // Extract from File returns text in 'text' field\n  if (item.text && typeof item.text === 'string') {\n    extractedText = item.text;\n  } else if (item.data && typeof item.data === 'string') {\n    extractedText = item.data;\n  } else if (typeof item === 'string') {\n    extractedText = item;\n  } else {\n    throw new Error('Could not find extracted text');\n  }\n\n  // Validate length\n  const trimmedText = extractedText.trim();\n  if (trimmedText.length < 50) {\n    extractionStatus = 'error';\n    errorMsg = `Extracted text too short (${trimmedText.length} chars). File may be empty or corrupted.`;\n  }\n\n  console.log('Text extracted successfully. Length:', extractedText.length);\n\n} catch (error) {\n  extractionStatus = 'error';\n  errorMsg = `Error processing extraction: ${error.message}`;\n  extractedText = '';\n  console.error('Processing error:', error);\n}\n\n// IMPORTANT: Preserve ALL previous data\nreturn [{\n  json: {\n    ...item,  // Keep everything from before\n    raw_text: extractedText.trim(),\n    extraction_status: extractionStatus,\n    extraction_error: errorMsg,\n    text_length: extractedText.length\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1616, 1760], "id": "ab8aabea-f839-4e66-9dc2-643e41077c57", "name": "text process from n8n"}, {"parameters": {"jsCode": "// Parse OpenAI's response and prepare for database\nconst items = $input.all();\nconst aiItem = items[0].json;\n\n// Get input data that was passed through\nlet inputData = aiItem;\n\nlet parsedData = null;\nlet parseStatus = 'success';\nlet errorMsg = null;\n\ntry {\n  // Get the AI response - N8N OpenAI node format\n  let aiResponse = '';\n  \n  // Format: output[0].content[0].text\n  if (aiItem.output && Array.isArray(aiItem.output) && aiItem.output[0]) {\n    const outputItem = aiItem.output[0];\n    if (outputItem.content && Array.isArray(outputItem.content) && outputItem.content[0]) {\n      aiResponse = outputItem.content[0].text;\n    }\n  }\n  \n  // Fallback formats\n  if (!aiResponse && aiItem.choices && aiItem.choices[0] && aiItem.choices[0].message) {\n    aiResponse = aiItem.choices[0].message.content;\n  } else if (!aiResponse && aiItem.message && aiItem.message.content) {\n    aiResponse = aiItem.message.content;\n  } else if (!aiResponse && aiItem.content) {\n    aiResponse = aiItem.content;\n  } else if (!aiResponse && aiItem.text) {\n    aiResponse = aiItem.text;\n  }\n\n  if (!aiResponse) {\n    throw new Error('Could not find AI response in expected format');\n  }\n\n  console.log('Raw AI response length:', aiResponse.length);\n\n  // Clean up response - remove markdown code blocks\n  aiResponse = aiResponse.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\n  // Find JSON if wrapped in text\n  const jsonStart = aiResponse.indexOf('{');\n  const jsonEnd = aiResponse.lastIndexOf('}') + 1;\n  \n  if (jsonStart >= 0 && jsonEnd > jsonStart) {\n    aiResponse = aiResponse.substring(jsonStart, jsonEnd);\n  }\n\n  // Parse JSON\n  parsedData = JSON.parse(aiResponse);\n\n  // Validate required fields\n  if (!parsedData.personal_info || !parsedData.personal_info.full_name) {\n    throw new Error('Missing required field: personal_info.full_name');\n  }\n\n  // Ensure all expected fields exist\n  parsedData = {\n    personal_info: parsedData.personal_info || {},\n    professional_summary: parsedData.professional_summary || null,\n    work_experience: parsedData.work_experience || [],\n    education: parsedData.education || [],\n    skills: parsedData.skills || { technical: [], soft_skills: [], tools: [], languages: [] },\n    certifications: parsedData.certifications || [],\n    projects: parsedData.projects || [],\n    total_years_experience: parsedData.total_years_experience || 0\n  };\n\n  console.log('AI parsing successful');\n\n} catch (error) {\n  parseStatus = 'error';\n  errorMsg = `Failed to parse AI response: ${error.message}`;\n  console.error('Parse error:', error);\n  console.error('AI Item structure:', JSON.stringify(aiItem).substring(0, 200));\n}\n\n// Extract metadata from inputData\nconst user_id = inputData.user_id || 'unknown';\nconst filename = inputData.filename || inputData.original_filename || 'unnamed_file';\nconst file_url = inputData.file_url || '';\nconst raw_text = inputData.raw_text || '';\n\nconsole.log('=== DATA CHECK ===');\nconsole.log('user_id:', user_id);\nconsole.log('filename:', filename);\nconsole.log('file_url length:', file_url.length);\nconsole.log('raw_text length:', raw_text.length);\n\nreturn [{\n  json: {\n    user_id: user_id,\n    original_filename: filename,\n    file_url: file_url,\n    raw_text: raw_text,\n    structured_data: parsedData,\n    status: parseStatus === 'success' ? 'ready' : 'error',\n    error_message: errorMsg,\n    created_at: new Date().toISOString()\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 2304], "id": "33821242-8fb7-4fbc-a24b-28ca4c7c55ad", "name": "ai response to database preparation"}, {"parameters": {"jsCode": "// Clean data before inserting to Supabase\n  // Remove null bytes and other problematic characters\n\n  function cleanText(text) {\n    if (typeof text !== 'string') return text;\n\n    // Remove null bytes and other control characters\n    return text\n      .replace(/\\u0000/g, '') // Remove null bytes\n      .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '') // Remove other control chars\n      .trim();\n  }\n\n  function cleanObject(obj) {\n    if (typeof obj !== 'object' || obj === null) {\n      return cleanText(obj);\n    }\n\n    if (Array.isArray(obj)) {\n      return obj.map(item => cleanObject(item));\n    }\n\n    const cleaned = {};\n    for (const [key, value] of Object.entries(obj)) {\n      if (typeof value === 'string') {\n        cleaned[key] = cleanText(value);\n      } else if (typeof value === 'object' && value !== null) {\n        cleaned[key] = cleanObject(value);\n      } else {\n        cleaned[key] = value;\n      }\n    }\n    return cleaned;\n  }\n\n  // Get the input data\n  const items = $input.all();\n\n  // Clean all items\n  const cleanedItems = items.map(item => ({\n    json: cleanObject(item.json),\n    binary: item.binary\n  }));\n\n  return cleanedItems;"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1616, 2256], "id": "ff36e495-ef7d-4871-aaea-3415727f36bb", "name": "clean data node"}, {"parameters": {"jsCode": "// Get the input item\n  const item = $input.all()[0].json;                                                                                                    \n  // Parse structured_data if it's a string                                                                                          \n  let structuredData;\n  try {\n    structuredData = item.structured_data;\n    if (typeof structuredData === 'string') {\n      structuredData = JSON.parse(structuredData);\n    }\n  } catch (error) {\n    structuredData = {};\n  }\n\n  // Safely get arrays or default to empty\n  const workExperience = structuredData?.work_experience || [];\n  const education = structuredData?.education || [];\n  const projects = structuredData?.projects || [];\n  const certifications = structuredData?.certifications || [];\n  const skills = structuredData?.skills || {};\n\n  const response = {\n    success: true,\n    message: 'Resume uploaded and parsed successfully',\n    data: {\n      resume_id: item.id,\n      user_id: item.user_id,\n      filename: item.original_filename,\n      status: item.status,\n      parsed_preview: {\n        name: structuredData?.personal_info?.full_name || 'Not found',\n        email: structuredData?.personal_info?.email || 'Not found',\n        phone: structuredData?.personal_info?.phone || 'Not found',\n        location: structuredData?.personal_info?.location || 'Not found',\n        summary: structuredData?.professional_summary || '',\n        work_history: workExperience.map(exp => ({\n          position: exp.title || exp.position || '',\n          company: exp.company || '',\n          location: exp.location || '',\n          start_date: exp.start_date || '',\n          end_date: exp.end_date || '',\n          description: Array.isArray(exp.responsibilities) ? exp.responsibilities.join('\\n') : (exp.description || '')\n        })),\n        education: education.map(edu => ({\n          institution: edu.institution || '',\n          degree: edu.degree || '',\n          field: edu.field_of_study || '',\n          graduation_date: edu.graduation_date || ''\n        })),\n        technical_skills: [\n          ...(skills.technical || []),\n          ...(skills.tools || []),\n          ...(skills.soft_skills || [])\n        ],\n        projects: projects.map(proj => ({\n          name: proj.name || proj.title || '',\n          description: proj.description || '',\n          technologies: proj.technologies || proj.tech_stack || [],\n          link: proj.link || proj.url || ''\n        })),\n        certifications: certifications.map(cert => ({\n          name: cert.name || cert.title || cert.certification_name || '',\n          issuer: cert.issuer || cert.organization || '',\n          date: cert.date || cert.issue_date || cert.completed_date || '',\n          url: cert.url || cert.credential_url || ''\n        })),\n        total_experience_years: structuredData?.total_years_experience || 0,\n        technical_skills_count: (skills.technical || []).length,\n        work_history_count: workExperience.length,\n        education_count: education.length,\n        certifications_count: certifications.length\n      },\n      file_url: item.file_url,\n      created_at: item.created_at\n    }\n  };\n\n  return [{ json: response }];\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2112, 2288], "id": "66c4aa21-ba02-4088-a71b-264232fe8e97", "name": "structured data"}, {"id": "wh-parse-resume-v2-2026", "name": "Resume Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [-20, 1744], "parameters": {"httpMethod": "POST", "options": {}, "path": "anti-gravity/parse-resume", "responseMode": "responseNode"}, "onError": "continueRegularOutput"}], "connections": {"Validate File Input": {"main": [[{"node": "check validation", "type": "main", "index": 0}]]}, "check validation": {"main": [[{"node": "Generate Unique Filename", "type": "main", "index": 0}], [{"node": "error node", "type": "main", "index": 0}]]}, "Generate Unique Filename": {"main": [[{"node": "HTTP Request2", "type": "main", "index": 0}]]}, "HTTP Request2": {"main": [[{"node": "construct file url", "type": "main", "index": 0}]]}, "construct file url": {"main": [[{"node": "base64 to binary", "type": "main", "index": 0}]]}, "If1": {"main": [[{"node": "data check before AI", "type": "main", "index": 0}], [{"node": "error node", "type": "main", "index": 0}]]}, "Extract from File": {"main": [[{"node": "text process from n8n", "type": "main", "index": 0}]]}, "base64 to binary": {"main": [[{"node": "Extract from File", "type": "main", "index": 0}]]}, "Edit Fields2": {"main": [[{"node": "clean data node", "type": "main", "index": 0}]]}, "Create a row1": {"main": [[{"node": "structured data", "type": "main", "index": 0}]]}, "Message a model1": {"main": [[{"node": "ai response to database preparation", "type": "main", "index": 0}]]}, "error node": {"main": [[{"node": "Respond to Webhook2", "type": "main", "index": 0}]]}, "data check before AI": {"main": [[{"node": "Message a model1", "type": "main", "index": 0}]]}, "text process from n8n": {"main": [[{"node": "If1", "type": "main", "index": 0}]]}, "ai response to database preparation": {"main": [[{"node": "Edit Fields2", "type": "main", "index": 0}]]}, "clean data node": {"main": [[{"node": "Create a row1", "type": "main", "index": 0}]]}, "structured data": {"main": [[{"node": "Respond to Webhook1", "type": "main", "index": 0}]]}, "Resume Webhook": {"main": [[{"node": "Validate File Input", "type": "main", "index": 0}]]}}, "authors": "vamsi chowdarybabay@gmail.com", "name": "Version a88e6f28", "description": "", "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-02T14:07:14.746Z", "id": 279, "workflowId": "wH2fuBVndVFsB0mO", "versionId": "a88e6f28-6754-4f73-969d-c6a97dbc486e", "event": "activated", "userId": "5cca1dd4-57e1-4b2b-85cd-7d95a6fd1a46"}, {"createdAt": "2026-03-16T06:23:00.865Z", "id": 281, "workflowId": "wH2fuBVndVFsB0mO", "versionId": "a88e6f28-6754-4f73-969d-c6a97dbc486e", "event": "activated", "userId": "5cca1dd4-57e1-4b2b-85cd-7d95a6fd1a46"}, {"createdAt": "2026-03-16T06:22:43.871Z", "id": 280, "workflowId": "wH2fuBVndVFsB0mO", "versionId": "a88e6f28-6754-4f73-969d-c6a97dbc486e", "event": "deactivated", "userId": "5cca1dd4-57e1-4b2b-85cd-7d95a6fd1a46"}]}}